
# VSC specifics
/D2-Synergy.code-workspace
/.vscode
/out

# Ignore node modules
/node_modules

# Project is built using src on webserver
/build

# Ignore environment variables
/.env

# This dir updates bounties.json so I can push the new json (it is not required for synergy to run)
/manifestCheck

# Misc
/package-lock.json
