
# VSC specifics
/D2-Synergy.code-workspace
/.vscode
/out

# Ignore environment variables
/.env

# Node 
/package-lock.json
/node_modules

# Ignore build directory
/build

# misc MacOS files
.DS_Store
src/.DS_Store
src/static/.DS_Store
src/static/ico/.DS_Store
