
# VSC specifics
/D2-Synergy.code-workspace
/.vscode
/out
/xnotes.txt

# Ignore environment variables
/.env

# Is not required for Synergy to run
/manifestCheck

# Node 
/package-lock.json
/node_modules
