.itemContainer {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.639);
    backdrop-filter: blur(6px);
    width: 210px;
    height: 260px;
    border: 1px solid rgba(87, 87, 87, 0.66);
    z-index: 10;
}

#items {
    margin-top: 20px;
    margin-left: 28px;
    text-align: left;
}

.bounty {
    width: 55px;
    border: 1px solid rgba(200, 200, 200, 0.749);
    z-index: 1;
}

#itemTitle {
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-weight: bold;
    padding-top: 13px;
    padding-left: 10px;
}

#itemType {
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-style: italic;
    font-size: 11px;
    padding-left: 12px;
}

#itemDesc {
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 1em;
}