.mainContainer {
    background-color: #3e454e;
    border-radius: 5px;
    border: 1px #56606d solid;
    width: 50vw;
    margin: auto;
    margin-top: 20px;
}

#subTitleContainer {
    display: flex;
    margin-left: 10px;
}

#userClan {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 20px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    margin-top: 4px;
}

#displayName {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 28px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#charDisplay {
    background-color: #3e454e;
    border-radius: 5px;
    border: 1px #56606d solid;
    width: 50vw;
    position: absolute;
    display: none;
    text-align: center;
}

#entryDataOverlay {
    position: absolute;
    display: none;
    width: 50px;
    z-index: 10;
}

#subTitle {
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
}


/* user select */


#charSelect {
    margin: 0 auto;
    width: 50%;
}

.charContainer {
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    width: 30%;
}

.bgContent {
    position: absolute;
}

.charBg {
    position: relative;
    height: 45px;
    opacity: 0.6;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.charContent {
    position: relative;
}

.charImg {
    height: 43px;
}

.classType {
    margin-left: 55px;
    margin-top: -40px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    letter-spacing: 1px;
}

.charLight {
    margin-left: 55px;
    /* margin-top: -35px; */
    font-size: 13px;
    color: rgb(255, 255, 0);
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}


/* loading bar */

#loadBarContainer {
    /* position: -webkit-sticky; */
    position: fixed;
}

#slider{
    position: absolute;
    margin-top: -21px;
    margin-left: -10px;
    width: 103vw;
    height: 3px;
    overflow-x: hidden;
}

.line{
    position: absolute;
    opacity: 0.4;
    background: #4a8df8;
    width: 103vw;
    height: 5px;
    overflow-x: hidden;
}

.subline{
    position: absolute;
    background: #4a8df8;
    height: 5px; 
    overflow-x: hidden;
}
.inc{
    animation: increase 2s infinite;
}
.dec{
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from { left: -5%; width: 5%; }
    to { left: 130%; width: 100%; }
}
@keyframes decrease {
    from { left: -80%; width: 80%; }
    to { left: 110%; width: 10%; }
}


/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(116, 116, 116);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}