/**
 * #.# Home (index) style
 *
 * Style for the landing page of the website
 */

#mainContainer {
    margin: 0 auto;
    margin-top: 60px;
    width: 785px;
    border: 1px #56606d solid;
    background-color: #3e454e;
    border-radius: 3px;
    text-align: center;
	align-items: center;
	justify-content: center;
}

#serverDeadContainer {
    display: none;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 775px;
    border: 1px rgb(255, 15, 15) solid;
    background-color: rgba(255, 69, 69, 0.787);
    border-radius: 3px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#websiteNotice {
    display: none;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 775px;
    border: 1px rgb(255, 15, 15) solid;
    background-color: rgba(255, 69, 69, 0.787);
    border-radius: 3px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#errorHeading {
    font-size: 25px;
}

#errorContent {
    margin-top: 20px;
    font-size: 17px;
}

#hyperlink {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

#heading {
    margin-top: 5px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

#subText {
    color: white;
    justify-content: end;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#btnAuthorize {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
	width: auto;
    color: rgb(34, 34, 34);
    background-color: #e44749;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
	font-weight: 600;
    font-size: 15px;
	border: 0px solid black;
	border-radius: 5px;
	cursor: pointer;
}

#iconsContainer {
    display: flex;
    margin-top: 30px;
    padding-bottom: 8px;
    width: auto;
    text-align: right;
	align-items: right;
	justify-content: right;
}

#twitterIcon {
    margin-right: 7px;
    margin-top: 2px;
    width: 25px;
    height: 22px;
    cursor: pointer;
}

#githubIcon {
    margin-right: 10px;
    width: 25px;
    height: auto;
    cursor: pointer;
}

#kofiIcon {
    margin-right: 10px;
    width: 25px;
    height: auto;
    cursor: pointer;
}