#mainContainer {
    background-color: #3e454e;
    border-radius: 5px;
    border: 1px #56606d solid;
    width: 50vw;
    height: auto;
    margin: auto;
    margin-top: 20px;

    text-align: center;
	align-items: center;
	justify-content: center;
}

#heading {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}

#subText {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    justify-content: end;
}

#btnAuthorize {
    position: relative;
	width: auto;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
	font-weight: 600;
    font-size: 15px;
    color: rgb(34, 34, 34);
    background-color: #e44749;
	border: 0px solid black;
	border-radius: 5px;
	cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

#iconsContainer {
    display: flex;
    width: auto;
    margin-top: 30px;
    padding-bottom: 8px;

    text-align: right;
	align-items: right;
	justify-content: right;
}

#twitterIcon {
    width: 25px;
    height: 22px;
    margin-right: 7px;
    margin-top: 2px;
}

#githubIcon {
    width: 25px;
    height: auto;
    margin-right: 10px;
}