/**
 * #.# Home (index) style
 *
 * Style for the landing page of the website
 */
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

#hoverElements {
    position: absolute;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: contrast(250%) brightness(450%);
    background: radial-gradient(circle at 50% -35%, #000000b8, #4d4d4d), url(../static/images/bg.svg);
    background-size: cover;
    z-index: -1;
}

.nav-bg-ui {
    display: flex;
    display: none;
    height: 60px;
    background-color: #151515;
    border-bottom: solid 1px #262626;
    align-items: center;
}

.nav-con {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.nav-controls {
    display: flex;
    gap: 30px;
    margin-left: 35px;
}

.nav-control-text {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff66;
    text-decoration: none;
}

.nav-control-text:hover {
    color: #ffffffa6;
    cursor: pointer;
}

.nav-control-textalt {
    font-size: 14px;
    font-weight: 600;
    color: #f95f5f9a;
}

.nav-control-textalt:hover {
    color: #f95f5fe5;
    cursor: pointer;
}

.nav-icon-con {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 50px;
}

.nav-icon-text {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#mouse-obj {
    display: none; /* temp -- remove */
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    opacity: 10%;
    filter: contrast(250%) brightness(450%);
    border-radius: 100%;
    pointer-events: none;
}

h1 {
    margin: 0 auto;
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
}

.header-underline {
    display: none;
    width: 100px;
    height: 5px;
    background-color: #f95f5f;
    margin: 0 auto;
    margin-left: 810px;
}

.header-authenticate-con {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    width: fit-content;
    background-color: #47474780;
    align-items: center;
    cursor: pointer;
}

.header-authenticate-con:hover {
    background-color: #5f5f5f80;
}

.header-authenticate-button-icon {
    width: 13px;
    height: 13px;
}

p {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 50%;
    color: #ffffffb3
}

.header-warning-con {
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    display: flex;
    gap: 18px;
    align-items: center;
}

.header-warning-icon {
    width: 19px;
    height: 19px;
}

.header-warning-text {
    color: #ffffffb3;
}

.version-text-con {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 35px;
    color: #ffffff44;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.page-content-container {
    height: 50000px;
    background-color: rgb(10,10,10);
}

.supportbox-dialogue-main-container {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    padding: 15px;
    width: 200px;
    height: 100px;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.supportbox-dialogue-main-container:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.supportbox-dialogue-goback-container {
    display: none;
    gap: 10px;
    margin: 0 auto;
    padding: 15px;
    width: 200px;
    height: 100px;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.supportbox-dialogue-goback-container:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.supportbox-dialogue-main-title {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.supportbox-dialogue-main-subtext {
    width: 200px;
    font-style: italic;
    color: #aaa;
    font-size: 13px;
}

.supportbox-main-image {
    margin: 0 auto;
    width: 18px;
}

.supportbox-goback-image {
    margin: 0 auto;
    width: 18px;
    rotate: 180deg;
}

.supportbox-absolute-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    width: 100%;
}

#center-con {
    display: flex;
    flex-direction: column;
}

#center-support {
    display: none;
    margin: 0 auto;
    margin-top: 50px;
    gap: 20px;
    text-align: center;
    width: fit-content;
    flex-direction: column;
    color: #aaa;
}

.support-page-grid-container {
    display: flex;
    margin: 0 auto;
    width: 510px;
    gap: 3px;
    flex-wrap: wrap;
    justify-content: left;
}

.support-page-text {
    width: 500px;
    font-style: italic;
    font-size: 13px;
}

.support-socials-container {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 10px;
}

.support-social-icon {
    width: 25px;
    cursor: pointer;
}

.support-cell {
    width: 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    user-select: none;
}

.support-cell:hover {
    border: 1px solid #aaa;
}

.support-cell-player {
    width: 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    user-select: none;
}

.support-cell-player:hover {
    border: 1px solid white;
    cursor: help;
}

/* On hover cell container styles */
.onhoverContainer {
    width: 375px;
    height: fit-content;
    padding-bottom: 10px;
    background-color: black;
    box-shadow: 0px 0px 50px black;
}

.containerForOverlay {
    display: none;
    position: absolute;
    pointer-events: none;
}

.onhoverEmblemIcon {
    width: 100%;
}

.onhoverEmblemContainer {
    margin-top: -47px;
}

.onhoverTopContentContainer {
    position: relative;
}

.onhoverTopTextContainer {
    position: absolute;
    display: flex;
    margin-top: 10px;
    color: white;
    justify-content: space-between;
    width: 100%;
}

.onhoverTopTextMain {
    padding-left: 70px;
    width: 53%;
}

.onhoverTopUser {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    overflow-x: hidden; /* temp fix */
    text-wrap: nowrap;
}

.onhoverTopClan {
    color: #E3E3E3;
    font-size: 13px;
}

.onhoverTopPowerCon {
    display: flex;
    margin-top: -5px;
    padding-right: 20px;
}

.powericon {
    margin-top: -20px;
    width: 12px;
}

.powerText {
    font-size: 30px;
    font-weight: bolder;
    color: #E5D163;
}

.onhoverSealContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.onhoverSealBg {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.onhoverSealBgWrapBars {
    background-color: #502D60;
    width: 100%;
    height: 2px;
}

.onhoverSealContentBg {
    background-color: #221629;
    width: 100%;
    height: 25px;
}

.onhoverSealContent {
    display: flex;
    position: absolute;
    padding-left: 5px;
    margin-top: 4px;
    color: #914CAD;
    align-items: center;
    gap: 10px;
}

.onhoverSealContentText {
    font-size: 14px;
    font-style: italic;
}

.onhoverDividerLine {
    margin-top: 12px;
    width: 100%;
    height: 1px;
    background-color: #393939;
}

.onhoverCommendationsContainer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    gap: 10px;
    flex-direction: column;
}

.onhoverCommendationsTop {
    display: flex;
    justify-content: space-between;
}

.onhoverCommendationsRatioBars {
    display: flex;
    gap: 3px;
}

.onhoverCommendationsTopSubText {
    color: #8F8F8F;
}

.onhoverCommendationsTopText {
    display: flex;
    gap: 3px;
    font-size: 11px;
}

.onhoverCommendationsTotalText {
    margin-top: 3px;
    font-size: 19px;
}

.onhoverCommendationsRatioNumbers {
    display: flex;
    gap: 3px;
    font-size: 10px;
    margin-top: -8px;
}

.onhoverUserRecordsContainer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    gap: 20px;
    font-size: 14px;
}

.onhoverRecordCon {
    display: flex;
    gap: 5px;
    align-items: center;
}

.onhoverBungienameContainer {
    display: flex;
    margin-top: 10px;
    gap: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

.onhoverBungienameTextCon {
    display: flex;
    align-items: center;
}

.onhoverUserMessageContainer {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px;
    align-items: center;
}

.onhoverUserMessageText {
    font-size: 13px;
    color: #8F8F8F;
    font-style: italic;
}