/**
 * #.# Home (index) style
 *
 * Style for the landing page of the website
 */

/* body {
    height: 100vh;
    background: radial-gradient(rgb(45, 45, 45), #202020);
    overflow-y: hidden;
}

#indexMainContainer {
    margin: 0 auto;
    margin-top: 60px;
    width: 785px;
    border: 1px #56606d solid;
    background-color: #2e3238;
    color: white;
    border-radius: 3px;
    text-align: center;
	align-items: center;
	justify-content: center;
}

.indexNotice {
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 765px;
    border-radius: 3px;
    color: white;
}

#serverDeadContainer {
    display: none;
    border: 1px rgb(255, 15, 15) solid;
    background-color: rgba(255, 69, 69, 0.787);
}

#websiteAlphaNotice {
    border: 1px rgb(255, 175, 15) solid;
    background-color: rgba(255, 166, 71, 0.518);
}

#websiteNotice {
    display: none;
    border: 1px rgb(255, 15, 15) solid;
    background-color: rgba(255, 69, 69, 0.787);
}

#errorHeading {
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

#errorContent {
    margin-top: 20px;
    font-size: 17px;
}

#hyperlink {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

#heading {
    margin-top: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
}

#subText {
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    letter-spacing: 0.25px;
    text-align: center;
}

#btnAuthorize {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
	width: auto;
    color: rgb(34, 34, 34);
    background-color: #e44749;
	font-weight: 600;
    font-size: 15px;
	border: 1px solid #ffadb0;
	border-radius: 5px;
	cursor: pointer;
}

#btnAuthorize:hover {
    background-color: #c13d40;
}

#btnAuthorize:active {
    background-color: #b03638;
}

#iconsContainer {
    display: flex;
    margin-top: 30px;
    padding-bottom: 8px;
    width: auto;
    text-align: right;
	align-items: right;
	justify-content: right;
}

#twitterIcon {
    margin-right: 7px;
    margin-top: 2px;
    width: 25px;
    height: 22px;
    cursor: pointer;
}

#githubIcon {
    margin-right: 10px;
    width: 25px;
    height: auto;
    cursor: pointer;
}

#kofiIcon {
    margin-right: 10px;
    width: 25px;
    height: auto;
    cursor: pointer;
} */



/* New content -- old content above is pending for removal/deprecation */
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: white;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: contrast(250%) brightness(450%);
    background: radial-gradient(circle at 50% -35%, #000000b8, #4d4d4d), url(../static/images/bg.svg);
    background-size: cover;
    z-index: -1;
}

.nav-bg-ui {
    display: flex;
    display: none;
    height: 60px;
    background-color: #151515;
    border-bottom: solid 1px #262626;
    align-items: center;
}

.nav-con {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.nav-controls {
    display: flex;
    gap: 30px;
    margin-left: 35px;
}

.nav-control-text {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff66;
    text-decoration: none;
}

.nav-control-text:hover {
    color: #ffffffa6;
    cursor: pointer;
}

.nav-control-textalt {
    font-size: 14px;
    font-weight: 600;
    color: #f95f5f9a;
}

.nav-control-textalt:hover {
    color: #f95f5fe5;
    cursor: pointer;
}

.nav-icon-con {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 50px;
}

.nav-icon-text {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#mouse-obj {
    display: none; /* temp -- remove */
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    opacity: 10%;
    filter: contrast(250%) brightness(450%);
    border-radius: 100%;
    pointer-events: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    font-size: 32pt;
}

.header-underline {
    width: 100px;
    height: 5px;
    background-color: #f95f5f;
    margin: 0 auto;
    margin-left: 810px;
}

.header-authenticate-con {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    width: fit-content;
    background-color: #47474780;
    align-items: center;
    cursor: pointer;
}

.header-authenticate-con:hover {
    background-color: #5f5f5f80;
}

.header-authenticate-button-icon {
    width: 13px;
    height: 13px;
}

p {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    width: 50%;
    color: #ffffffb3
}

.header-warning-con {
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    display: flex;
    gap: 18px;
    align-items: center;
}

.header-warning-icon {
    width: 19px;
    height: 19px;
}

.header-warning-text {
    color: #ffffffb3;
}

.version-text-con {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 35px;
    color: #ffffff44;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}