/**
 * #.# Seperate item style
 *
 * Every reference of an item in the DOM, will use this style script to apply style
 */

:root {
    --completedCheckboxOuter: rgba(255, 255, 255, 0.6);
    --completedCheckboxMiddle: rgba(0, 0, 0, 0.5);
    --completedCheckboxInner: #5AA366;
    --challengeCompletedCheckboxOuter: rgba(255, 255, 255, 0.371);
    --challengeCompletedCheckboxMiddle: rgba(0, 0, 0, 0.304);
    --challengeCompletedCheckboxInner: #14798b;
}

.overlayContainer {
    display: none;
    position: relative;
    width: 210px;
    min-height: 260px;
    margin-left: -230px;
    background-color: rgba(0, 0, 0, 0.639);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(87, 87, 87, 0.66);
    z-index: 99;
    box-shadow: 0 25px 40px #000000e6;
    pointer-events: none;
}

.itemContainer {
    position: relative;
}

.itemContainerComplete {
    display: none;
    position: relative;
    width: 210px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.639);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(87, 87, 87, 0.66);
}

.itemContainerComplete::after {
    position: absolute;
    content: "";
    height: 30%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(182,137,67) 0%, transparent 100%);
    z-index: -10;
}

.itemHeader {
    padding-bottom: 10px;
    background-color: #B2ACA6;
}

.itemAttributes {
    padding-top: 10px;
}

.objectiveContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 11px;
}

.objectiveCheckboxOuter {
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    width: 13px;
    height: 13px;
}

.objectiveCheckboxMiddle {
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    width: 11px;
    height: 11px;
}

.objectiveCheckboxInner {
    border: none;
    width: 11px;
    height: 11px;
    background-color: none;
}

#itemDesc {
    padding-left: 10px;
    padding-right: 1em;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 13px;
}

#itemPrg {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    width: 90%;
}

.itemPrgContainer {
    display: flex;
    margin-top: auto;
}

.itemObjectivesContainer {
    display: flex;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    width: 90%;
    bottom: 0;
    gap: 5px;
    flex-direction: column;
}

.itemPrgDesc {
    width: 85%;
    text-align: left;
    color: #c8c8c8;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
}

.itemPrgCounter {
    right: 0;
    text-align: right;
    color: #c8c8c8;
    opacity: 1;
}

#bountyItems {
    margin-top: 10px;
}

#bountyItems > div {
    display: inline-block;
}

#challengeItems {
    margin-top: 20px;
}

.bounty {
    margin-left: 2px;
    margin-right: 2px;
    width: 55px;
    border: 1px solid rgba(200, 200, 200, 0.749);
    border-radius: 1px;
    z-index: 1;
    cursor: help;
}

.bountyProgressBarContainer {
    position: absolute;
    margin-left: 2px;
    margin-top: -10px;
    width: 57px;
    height: 6px;
    background-color: rgba(84, 84, 84, 0.656);
}

.bountyProgressBar {
    position: absolute;
    height: 6px;
    background-color: #76D484;
}

.statusIcon {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 26px; /* default */
    pointer-events: none;
}

.expire {
    top: 0px;
    left: 2px;
}

.complete {
    right: 2px;
    bottom: 4px;
}

#itemTitle {
    padding-top: 13px;
    padding-left: 10px;
    color: rgb(23, 23, 23);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-weight: bold;
}

#itemType {
    padding-left: 12px;
    color: rgb(62, 62, 62);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 11px;
}

.greyOut {
    opacity: 50%;
}
