/**
 * #.# Global style
 *
 * Global style for all HTML pages
 */

:root {
    --SegoeUIFont:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --TabularNumsFont:'Inter', sans-serif;
    --DestinyUIFont:"Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;

    /* Deprecated */
    --blurFilterAmount:3px;

    /* Colors */
    --accentColor:#ED4D4D; /* Default */

    --fontSize:15px;
    --fontSizeMultiplier:1.0; /* Decimal place = % increase */

    --fontSizeTooltipSmall:calc(var(--fontSizeMultiplier) * 12px);
    --fontSizeControl:calc(var(--fontSizeMultiplier) * 14px);
    --fontSizeTooltip:calc(var(--fontSizeMultiplier) * 15px);
    --fontSizeContent:calc(var(--fontSizeMultiplier) * 16px);
    --fontSizeSubheading:calc(var(--fontSizeMultiplier) * 20px);
    --fontSizeHeading:calc(var(--fontSizeMultiplier) * 24px);
    --fontSizeLargeHeading:calc(var(--fontSizeMultiplier) * 32px);
}

body {
    user-select: none;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    background-color: #22272e;
}

.elBlur {
    -webkit-filter: blur(1.5px) brightness(60%);
    -moz-filter: blur(1.5px) brightness(60%);
    -o-filter: blur(1.5px) brightness(60%);
    -ms-filter: blur(1.5px) brightness(60%);
    filter: blur(1.5px) brightness(60%);
}

/* Html tag customs */
h1.settingsHeading {
    margin-left: 20px;
    margin-right: 20px;
    font-size: var(--fontSizeLargeHeading);
}

h2 {
    font-size: var(--fontSizeHeading);
}


/* Navbar */
#topColorBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    width: 100vw;
    background-color: rgba(237, 77, 77, 0.8);
    box-shadow: 0px 0px 10px 1px #ED4D4D;
    z-index: 99; /* Keep box shadow on top of navbar */
}

#navBarContainer {
    position: fixed;
    display: inline-flex;
    top: 2px;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: #202020;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 10;
}

#navBarTitleContainer {
    margin-left: 15px;
    top: 5px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#navBarTitle {
    display: inline-block;
    font-size: 30px;
}

#navBarVersion {
    display: inline-block;
    font-size: 15px;
    color: #677474;
    text-decoration: none;
}


/* Logout container */
#navBarLogoutContainer {
    position: absolute;
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
}
#navBarLogout {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: auto;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
    transition: 0.25s;
}
#navBarLogout:hover {
    color: white;
    border-color: white;
    transition: 0.25s;
}

#middleNavBarItems {
    display: flex;
    margin-top: 3px;
    margin-right: 180px;
    gap: 40px;
    color: #BFBFBF;
    font-size: 18px;
    
    align-items: center;
}

#navBarBountiesButton:hover {
    color: white;
    cursor: pointer;
}

#navBarChallengesButton:hover {
    color: white;
    cursor: pointer;
}

#navBarStatisticsButton:hover {
    color: white;
    cursor: pointer;
}

#rightNavBarItems {
    display: flex;
    margin-right: 15px;
    gap: 20px;
}

.navBarIcons {
    width: 28px;
    filter: invert(65%);
    cursor: pointer;
    
}

#navBarSettingsIcon:hover {
    filter: invert(100%);
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

#navBarLogoutIcon:hover {
    filter: invert(40%) sepia(61%) saturate(2423%) hue-rotate(332deg) brightness(97%) contrast(92%);
}

/* Settings container */
#navBarSettingsContainer {
    position: absolute;
    margin-top: 12px;
    margin-right: 90px;
    cursor: pointer;
}
#navBarSettings {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
    transition: 0.25s;
}
#navBarSettings:hover {
    color: white;
    border-color: white;
    transition: 0.25s;
}

#warnIcon {
    margin-top: -1px;
    width: 20px;
    cursor: pointer;
}

/* Logout button for mobile */
#logoutButtonMobile {
    padding: 5px;
    padding-top: 8px;
    float: right;
    width: 30px;
    filter: invert(50%);
}

/* Settings button for mobile */
#settingsButtonMobile {
    padding: 5px;
    padding-top: 8px;
    padding-right: 10px;
    float: right;
    width: 30px;
    filter: invert(50%);
}

.warningTooltip {
    display: flex;
    padding: 8px;
    margin-top: 10px;
    bottom: 10px;
    width: 90%;
    gap: 5px;
    border: 1px rgb(255, 175, 15) solid;
    border-radius: 5px;
    background-color: rgba(255, 143, 15, 0.6);
}

.warningTooltipLink {
    text-decoration: underline;
    cursor: pointer;
}

/* Notification */
#notificationContainer {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 10px;
    height: fit-content;
    width: 300px;
    opacity: 1;
    background-color: #202020;
    color: white;
}

#notificationContainer.fade-out {
    opacity: 0;
    transition: all 0.4s linear;
}

#notificationContent {
    display: flex;
    padding: 10px;
    border-radius: 2px;
}

#notificationTitle {
    font-weight: 600;
    font-size: 20px;
}

#notificationMessage {
    font-size: 15px;
    font-style: italic;
}

#notificationTopBgLine {
    width: 100%;
    height: 2px;
    background-color: red;
    box-shadow: 0px 0px 10px 1px #ED4D4D;
}

#notificationCheckmark {
    position: absolute;
    display: none;
    right: 0;
    margin-top: 5px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.spinner {
    position: absolute;
    display: flex;
    right: 0;
    margin-top: 8px;
    margin-right: 10px;
    opacity: .5;
    pointer-events: none;
    transition: opacity .25s
}

.spinner,.spinner svg {
    height: 48px;
    width: 48px
}

.spinner.mini,.spinner.mini svg {
    height: 24px;
    width: 24px
}

.spinner {
    fill: #fff
}

.spinner g .a {
    animation: spinner_bits_a 3s linear infinite
}

.spinner g .b {
    animation: spinner_bits_b 3s linear infinite
}

.spinner g .c {
    animation: spinner_bits_c 3s linear infinite
}

.spinner g .d {
    animation: spinner_bits_d 3s linear infinite
}

.spinner g .e {
    animation: spinner_bits_e 3s linear infinite
}

.spinner g .f {
    animation: spinner_bits_f 3s linear infinite
}

.spinner g:last-child .a {
    animation: spinner_bits_a 1.5s linear infinite
}

.spinner g:last-child .b {
    animation: spinner_bits_b 1.5s linear infinite
}

.spinner g:last-child .c {
    animation: spinner_bits_c 1.5s linear infinite
}

.spinner g:last-child .d {
    animation: spinner_bits_d 1.5s linear infinite
}

.spinner g:last-child .e {
    animation: spinner_bits_e 1.5s linear infinite
}

.spinner g:last-child .f {
    animation: spinner_bits_f 1.5s linear infinite
}

@keyframes spinner_bits_a {
    0% {
        opacity: 1
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes spinner_bits_b {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 1
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes spinner_bits_c {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes spinner_bits_d {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes spinner_bits_e {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 1
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes spinner_bits_f {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}


/* Loadbar */
#loadBarContainer {
    display: none;
    position: absolute;
    top: 0px;
}
#slider{
    position: absolute;
    margin-left: -10px;
    width: 103vw;
    height: 2px;
    overflow-x: hidden;
}
.subline{
    position: absolute;
    height: 2px;
    background: #22272E;
    overflow-x: hidden;
    border-radius: 3px;
    z-index: 100;
}
.inc{
    animation: increase 2s infinite;
}
.dec{
    animation: decrease 2s 0.5s infinite;
}
@keyframes increase {
    from { left: -5%; width: 5%; }
    to { left: 130%; width: 100%; }
}
@keyframes decrease {
    from { left: -80%; width: 80%; }
    to { left: 110%; width: 10%; }
}


/* Onload Animation */
.fade-in {
    animation-name: FadeIn;
    animation-duration: 0.1s;
    transition-timing-function: linear;
}
@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Scrollbar */
::-webkit-scrollbar { /* Width */
    width: 7px;
}s
::-webkit-scrollbar-track { /* Track */
    background: none;
}
::-webkit-scrollbar-thumb { /* Handle */
    background: #747474; 
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}
::-webkit-scrollbar { /* Temporary? */
    display: none;
}


/* Underline styles */
hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid gray;
}

hr.horizontalRuler {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
	border: none;
	background-color: #adadad;
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}