/**
 * #.# Global style
 *
 * Global style for all HTML pages
 */

:root {
    --SegoeUIFont:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --TabularNumsFont:'Inter', sans-serif;
    --DestinyUIFont:"Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;

    /* Deprecated */
    --blurFilterAmount:3px;

    --fontSize:15px;
    --fontSizeMultiplier:1.0; /* Decimal place = % increase */

    --fontSizeTooltipSmall:calc(var(--fontSizeMultiplier) * 12px);
    --fontSizeControl:calc(var(--fontSizeMultiplier) * 14px);
    --fontSizeTooltip:calc(var(--fontSizeMultiplier) * 15px);
    --fontSizeContent:calc(var(--fontSizeMultiplier) * 16px);
    --fontSizeSubheading:calc(var(--fontSizeMultiplier) * 20px);
    --fontSizeHeading:calc(var(--fontSizeMultiplier) * 24px);
    --fontSizeLargeHeading:calc(var(--fontSizeMultiplier) * 32px);
}

body {
    user-select: none;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    background-color: #22272e;
}

.elBlur {
    -webkit-filter: blur(1.5px) brightness(60%);
    -moz-filter: blur(1.5px) brightness(60%);
    -o-filter: blur(1.5px) brightness(60%);
    -ms-filter: blur(1.5px) brightness(60%);
    filter: blur(1.5px) brightness(60%);
}

/* Html tag customs */
h1.settingsHeading {
    margin-left: 20px;
    margin-right: 20px;
    font-size: var(--fontSizeLargeHeading);
}

h2 {
    font-size: var(--fontSizeHeading);
}


/* Navbar */
#topColorBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    width: 100vw;
    background-color: rgba(237, 77, 77, 0.8);
    box-shadow: 0px 0px 10px 1px #ED4D4D;
    z-index: 99; /* Keep box shadow on top of navbar */
}

#navBarContainer {
    position: fixed;
    display: inline-flex;
    top: 2px;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: #202020;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 10;
}

#navBarTitleContainer {
    margin-left: 15px;
    top: 5px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#navBarTitle {
    display: inline-block;
    font-size: 30px;
}

#navBarVersion {
    display: inline-block;
    font-size: 15px;
    color: #677474;
    text-decoration: none;
}


/* Logout container */
#navBarLogoutContainer {
    position: absolute;
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
}
#navBarLogout {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: auto;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
    transition: 0.25s;
}
#navBarLogout:hover {
    color: white;
    border-color: white;
    transition: 0.25s;
}

#middleNavBarItems {
    display: flex;
    margin-top: 3px;
    margin-right: 180px;
    gap: 40px;
    color: #BFBFBF;
    font-size: 18px;
    
    align-items: center;
}

.fubar {
    margin-top: 14px;
    font-size: 20px;
}

#navBarBountiesButton:hover {
    color: white;
    cursor: pointer;
}

#navBarChallengesButton:hover {
    color: white;
    cursor: pointer;
}

#navBarStatisticsButton:hover {
    color: white;
    cursor: pointer;
}

#rightNavBarItems {
    display: flex;
    margin-right: 15px;
    gap: 20px;
}

.navBarIcons {
    width: 28px;
    filter: invert(65%);
    cursor: pointer;
    
}

#navBarSettingsIcon:hover {
    filter: invert(100%);
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

#navBarLogoutIcon:hover {
    filter: invert(40%) sepia(61%) saturate(2423%) hue-rotate(332deg) brightness(97%) contrast(92%);
}

/* Settings container */
#navBarSettingsContainer {
    position: absolute;
    margin-top: 12px;
    margin-right: 90px;
    cursor: pointer;
}
#navBarSettings {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid gray;
    border-radius: 4px;
    color: gray;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
    transition: 0.25s;
}
#navBarSettings:hover {
    color: white;
    border-color: white;
    transition: 0.25s;
}

/* Logout button for mobile */
#logoutButtonMobile {
    padding: 5px;
    padding-top: 8px;
    float: right;
    width: 30px;
    filter: invert(50%);
}

/* Settings button for mobile */
#settingsButtonMobile {
    padding: 5px;
    padding-top: 8px;
    padding-right: 10px;
    float: right;
    width: 30px;
    filter: invert(50%);
}


/* Loadbar */
#loadBarContainer {
    display: none;
    position: absolute;
    top: 0px;
}
#slider{
    position: absolute;
    margin-left: -10px;
    width: 103vw;
    height: 2px;
    overflow-x: hidden;
}
.subline{
    position: absolute;
    height: 2px;
    background: #22272E;
    overflow-x: hidden;
    border-radius: 3px;
    z-index: 100;
}
.inc{
    animation: increase 2s infinite;
}
.dec{
    animation: decrease 2s 0.5s infinite;
}
@keyframes increase {
    from { left: -5%; width: 5%; }
    to { left: 130%; width: 100%; }
}
@keyframes decrease {
    from { left: -80%; width: 80%; }
    to { left: 110%; width: 10%; }
}


/* Onload Animation */
.fade-in {
    animation-name: FadeIn;
    animation-duration: 0.1s;
    transition-timing-function: linear;
}
@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Scrollbar */
::-webkit-scrollbar { /* Width */
    width: 7px;
}s
::-webkit-scrollbar-track { /* Track */
    background: none;
}
::-webkit-scrollbar-thumb { /* Handle */
    background: #747474; 
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}
::-webkit-scrollbar { /* Temporary? */
    display: none;
}


/* Underline styles */
hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid gray;
}

hr.horizontalRuler {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
	border: none;
	background-color: #adadad;
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}