/**
 * #.# user.html Style
 *
 * Style for user.html, does not contain media queries
 */

:root {
    --blurFilterAmount: 3px;
}

#userMainContainer {
    position: absolute;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 0;
}

#settingsContainer {
    position: absolute;
    display: none;
    height: 200px;
    color: white;
}

#settingsContent {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.settingSectionHeader {
    font-size: 20px;
    font-weight: 600;
}

#itemBorderSizeHeading {
    margin-top: 30px;
}

#settingsBountyImage {
    width: 55px;
    border: 1px solid gray;
}

#backButtonContainer {
    position: absolute;
	margin-top: 60px;
    margin-left: 20px;
	width: 125px;
	height: 28px;
	cursor: pointer;
}

#backButtonImg {
	display: inline-block;
	width: 20px;
	filter: invert(1) brightness(1);
}

#backButtonText {
	position: absolute;
	display: inline-block;
	margin-top: 1px;
	margin-left: 10px;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
}

#checkBox {
    display: inline-flex;
}

.settingText {
    display: inline-flex;
    font-size: 16px;
}

#rangeSliderContainer {
    display: inline-block;
    margin-bottom: 20px;
}

#itemSizeText {
    position: absolute;
    display: inline-block;
    margin-top: 5px;
    font-size: 16px;
}

#itemSizeSlider {
    position: absolute;
    display: inline-flex;
    margin-top: 9px;
    margin-left: 75px;
    width: 300px;
}

#itemSizeField {
    position: absolute;
    display: inline-block;
    margin-top: 5px;
    margin-left: 385px;
    font-size: 16px;
}

#resetItemSize {
    position: absolute;
    margin-top: 4px;
    margin-left: 428px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(49, 49, 49);
}

#resetItemSize:hover {
    background-color: rgb(84, 84, 84);
}

#sliderNoticeText {
    display: block;
    margin-top: 10px;
    font-style: italic;
}

#sliderPreviewText {
    display: block; 
    margin-top: 3px; 
    margin-bottom: 5px; 
    font-size: 19px; 
    font-weight: 600;
}

h2 {
    padding-bottom: 0px;
    text-transform: uppercase;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#contentDisplay {
    display: none;
    margin-left: 30px;
    float: left;
    width: 65%;
}

#subTitleContainer {
    display: flex;
    margin-left: 10px;
}

#userClan {
    margin-top: 4px;
    color: #e8e6e3;
    font-weight: 600;
    font-size: 20px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#displayName {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 28px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#entryDataOverlay {
    display: none;
    position: absolute;
    width: 50px;
    z-index: 10;
}

#subTitle {
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 20px;
    text-transform: uppercase;
}


/* user select */

#charDisplayTitle {
    margin-top: 13px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#charDisplayTitle_Pre {
    display: inline-block;
    margin-left: 28px;
    color: white;
    font-weight: bold;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    user-select: none;
}

#charDisplayTitle_Character {
    display: none;
    color: white;
    font-style: italic;
    font-weight: 0;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 16px;
    letter-spacing: 1px;
}

#synergyContainer {
    display: none;
    margin-top: 13px;
    margin-left: 28px;
}

#loadoutsContainer {
    display: none;
    margin-top: 13px;
    margin-left: 28px;
}

#pursuitsContainer {
    display: none;
    margin-top: 13px;
    margin-left: 28px;
}

#progressionContainer {
    display: none;
    margin-top: 13px;
    margin-left: 28px;
}

#bountyDisplayContainer {
    color: white;
}

.containerTitle {
    display: inline-block;
    padding-bottom: 0px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    letter-spacing: 0.5px;
}

.bountiesContainerTitle {
    margin-top: -7px;
    margin-bottom: -12px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    letter-spacing: 1px;
}

.subheadingFields {
    display: inline-block;
    padding-right: 3px;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    letter-spacing: 0.5px;
}

#bountiesFieldSubText {
    display: inline-block;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.levellingContainerTitle {
    margin-top: 36px;
    margin-bottom: 7px;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    letter-spacing: 1px;
}

#currentSeasonNameField {
    display: inline-block;
    color: white;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#noItemsTooltip {
    display: none;
    padding-top: 25px;
    color: rgb(118, 118, 118);
    font-size: 15px;
    font-style: italic;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#categories {
    display: none;
    margin-top: 3px;
}

#categories > div {
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgb(205, 203, 203);
    letter-spacing: 1px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    cursor: pointer;
    user-select: none;
    transition: 0.25s;
}

#cgDefaultLoadouts {
    display: none;
}

#cgDefaultLoadouts:hover {
    color: white;
    transition: 0.25s;
}
#cgPursuits:hover {
    color: white;
    transition: 0.25s;
}

#questDisplayContainer {
    margin-top: 15px;
}

/* char selects */

#sideSelectionBar {
    margin-top: 15px;
    margin-left: 15px;
    width: auto;
    float: left;
}

#charactersContainer {
    display: none;
}

#charactersContainer > div {
    display: none;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.classBg {
    width: 220px;
}

.classType {
    position: absolute;
    margin-left: 43px;
    margin-top: 5px;
    color: white;
    font-weight: 0;
    letter-spacing: 1.3px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
}

.classLight {
    position: absolute;
    margin-left: 54px;
    margin-top: 25px;
    color: rgba(255, 234, 0, 0.755);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
}

.lightIcon {
    position: absolute;
    margin-left: 45px;
    margin-top: 28px;
    width: 8px;
}

#statsContainer {
    display: none;
    margin-top: 50px;
    width: 75%;
}

#statsTitle {
    display: inline-block;
    padding-bottom: 7px;
    text-align: left;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-weight: bold;
    letter-spacing: 1px;
}

#baseStatsTitle {
    display: inline-block;
    margin-top: 16px;
    text-align: left;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-weight: bold;
    letter-spacing: 1px;
}

#statsTitleQuery {
    display: inline-block;
    margin-left: 8px;
    width: 14px;
    filter: invert(48%) sepia(13%) saturate(3207%);
    cursor: pointer;
}

#queryDiv {
    position: absolute;
    display: none;
    padding: 3px;
    left: 95px;
    width: 90px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 11px;
    background-color: rgb(49, 49, 49);
    border: 1px solid rgb(88, 88, 88);
    border-radius: 3px;
}

#loadingContentContainer {
    display: none;
    margin-top: 60px;
    text-align: center;
}

#filterContentContainer {
    display: none;
}

#baseStatsContainer {
    margin-top: 10px;
}

#baseStatsContainer > div {
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#netStatsContainer {
    margin-top: 10px;
}

#netStatsContainer > div {
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

.statsCheckmark {
    display: inline-block;
    margin-right: 5px;
    width: 13px;
    filter: invert(82%) sepia(20%) saturate(1304%) hue-rotate(78deg) brightness(85%) contrast(90%);
}

.statsCross {
    display: none;
    margin-right: 5px;
    width: 13px;
}

.netStatBuffHeading {
    display: inline-block;
    text-decoration: underline;
    color: rgb(141, 219, 255) !important;
    font-style: italic;
    cursor: pointer;
}

.popupArrow {
    position: absolute;
    display: inline-block;
    margin-top: -17px;
    width: 12px;
    filter: invert(10%);
    transform: rotate(90deg);
}

.percentagePopup {
    position: absolute;
    display: inline-block;
    margin-top: -25px;
    margin-left: 8px;
    padding: 5px;
    width: 45px;
    text-align: center;
    font-variant-numeric: normal;
    background-color: rgb(26, 26, 30);
    border-radius: 3px;
}

#sharedWisdomPopupContainer {
    position: absolute;
    display: none;
    margin-top: 20px;
    margin-left: 5px;
}

#ghostModPopupContainer {
    position: absolute;
    display: none;
    margin-top: 20px;
    margin-left: 5px;
}

#BonusXpPopupContainer {
    position: absolute;
    display: none;
    margin-top: 20px;
    margin-left: 5px;
}

.netXpHeading {
    display: inline-block;
    margin-top: 10px;
}

#totalNetXpField {
    display: inline-block;
}

#btnSynergyView {
    display: none;
    margin-top: 12px;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    width: fit-content;
    color: rgb(203, 116, 116);
    border: 1px rgb(203, 116, 116) solid;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: 0.25s;
}

#btnSynergyView:hover {
    color: rgb(255, 222, 222);
    border-color: rgb(255, 222, 222);
    transition: all 0.25s;
}

#levellingContentDisplay > div {
    padding-top: 7px;
    padding-bottom: 3px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#levellingStatsDisplay > div {
    padding-top: 7px;
    padding-bottom: 3px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#statsTableLayoutContainer {
    margin-top: 20px;
}
#statsTableLayoutContainer > div {
    width: 350px;
    height: 150px;
    padding: 2px;
    border: #555 1px solid;
    border-radius: 5px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

.containerMetricNumber {
    display: inline-block;
    color: rgb(141, 219, 255);
}

/* Seasonal artifact statistic container */
#artifactStats {
    display: inline-block;
    text-align: center;
}
#artifactStatsBg {
    background-image: url('../images/artifact_background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

    filter: brightness(50%) blur(var(--blurFilterAmount));
}
#artifactStatsContentContainer {
    position: absolute;
    text-align: left;
    margin-top: -140px;
    margin-left: 15px;
}
#artifactStatsFirstContainer {
    margin-top: 10px;
    font-size: 22px;
}
#artifactStatsSecondContainer {
    margin-top: 15px;
    font-size: 22px;
}
#artifactStatsSuffix {
    display: inline-block;
    font-size: 18px;
}
.artifactStatsSuffixBottom {
    font-size: 18px;
    margin-top: -4px;
}
#artifactStatsThirdMetricContainer {
    position: absolute;
    margin-top: -120px;
    margin-left: 230px;
    text-align: center;
}
#artifactStatsMetricSeasonPassLevel {
    font-size: 35px;
    font-weight: 600;
}
#artifactStatsMetricRankTitle {
    font-weight: 600;
}
#artifactStatsMetricFireteamBonus {
    margin-top: 10px;
}
#artifactStatsMetricFireteamBonusSuffix { 
    margin-top: -18px;
}
#artifactStatsArtifactImage {
    position: absolute;
    margin-top: 5px;
    width: 80px;
    border: 1px grey dashed;
    z-index: -0;
}
#artifactStatsArtifactImage:hover {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
#artifactStatsArtifactBonus {
    position: absolute;
    margin-top: 64px;
    margin-left: 3px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(141, 219, 255);
    z-index: 10;
}
#artifactStatsNoArtifactIsPresent {
    position: absolute;
    display: none;
    margin-top: -80px;
    margin-left: 13px;
    color: white;
    font-size: 15px;
    font-style: italic;
}


/* Season pass statistic container */
#seasonPass {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}
#seasonPassBg {
    background-image: url('../images/seasonal_background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

    filter: brightness(50%) blur(var(--blurFilterAmount));
}
#seasonPassContentContainer {
    position: absolute;
    text-align: left;
    margin-top: -140px;
    margin-left: 15px;
}
#seasonPassFirstContainer {
    margin-top: 13px;
    font-size: 22px;
}
#seasonPassSecondContainer {
    margin-top: 30px;
    font-size: 22px;
}
#seasonPassSuffix {
    display: inline-block;
    font-size: 18px;
}
#seasonPassSuffixBottom {
    position: absolute;
    font-size: 18px;
    margin-top: -3px;
}
#seasonPassThirdMetricContainer {
    position: absolute;
    margin-top: -130px;
    margin-left: 190px;
    text-align: center;
}
#seasonPassRankLevel {
    margin-left: 50px;
    font-size: 35px;
    font-weight: 600;
}
#seasonPassRankTitle {
    margin-left: 50px;
    font-weight: 600;
}
#seasonPassFireteamBonusContainer {
    display: inline-block;
    margin-right: 5px;
}
#seasonPassFireteamBonus {
    margin-top: 10px;
    color: rgb(141, 219, 255);
}
#seasonPassFireteamBonusSuffix { 
    margin-top: -18px;
    font-weight: 600;
}
#seasonPassXpBonusContainer {
    position: absolute;
    display: inline-block;
    margin-left: 5px;
}
#seasonPassXpBonus {
    margin-top: 10px;
    color: rgb(141, 219, 255);
}
#seasonPassXpBonusSuffix { 
    margin-top: -18px;
    font-weight: 600;
}


/* Bright engram statistic container */
#brightEngram {
    display: none;
    margin-left: 20px;
    text-align: center;
}
#brightEngramBg {
    background-image: url('../images/eververse.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;

    filter: brightness(50%) blur(var(--blurFilterAmount));
}
#brightEngramContentContainer {
    position: absolute;
    text-align: left;
    margin-top: -140px;
    margin-left: 15px;
}
#brightEngramFirstContainer {
    margin-top: 15px;
    font-size: 22px;
}
#brightEngramSuffix {
    display: inline-block;
    font-size: 18px;
}
#brightEngramSecondContainer {
    margin-top: 40px;
    font-size: 22px;
}
#brightEngramEngramImageLeft {
    position: absolute;
    margin-top: -140px;
    margin-left: 35px;
    width: 45px;
    z-index: 1;
}
#brightEngramEngramImageMiddle {
    position: absolute;
    margin-top: -140px;
    margin-left: 50px;
    width: 100px;
    z-index: 2;
}
#brightEngramEngramImageRight {
    position: absolute;
    margin-top: -140px;
    margin-left: 120px;
    width: 45px;
    z-index: 1;
}
#brightEngramSuffixBottom {
    position: absolute;
    font-size: 18px;
    margin-top: -3px;
}
#brightEngranTooltip {
    position:absolute;
    font-size: 13px;
    font-style: italic;
}