/**
 * #.# user.html Style
 *
 * Style for user.html, does not contain media queries
 */

body {
    height: 100vh;
    overflow-y: hidden;
    background: radial-gradient(rgb(45, 45, 45), #202020);
}

.contentHeading {
    font-size: 19px;
    color: #CECECE;
}

#contextMenuSettingsMobile {
    margin-top: 3px;
    width: 24px;
}

#userMainContainer {
    margin-top: 60px;
    z-index: 0;
}

#githubIcon {
    width: 23px;
    filter: invert(22%) sepia(0%) saturate(1%) hue-rotate(7deg) brightness(97%) contrast(83%);
    cursor: pointer;
}

#twitterIcon {
    margin-left: 10px;
    width: 28px;
    filter: invert(22%) sepia(0%) saturate(1%) hue-rotate(7deg) brightness(40%) contrast(83%);
    cursor: pointer;
}

#githubIcon:hover {
    filter: invert(22%) sepia(0%) saturate(1%) hue-rotate(7deg) brightness(160%) contrast(83%);
}

#twitterIcon:hover {
    filter: invert(22%) sepia(0%) saturate(1%) hue-rotate(7deg) brightness(80%) contrast(83%);
}

.propertySecretIcon {
    display: none;
    width: 40px;
}

#backButtonContainer {
	width: 125px;
	height: 28px;
	cursor: pointer;
}

#backButtonImg {
	display: inline-block;
	width: 20px;
	filter: invert(1) brightness(1);
}

#backButtonText {
	position: absolute;
	display: inline-block;
	margin-top: 1px;
	margin-left: 10px;
	font-size: 16px;
	font-family: var(--SegoeUIFont);
	color: white;
}

.toggleTableTypeButton {
    display: flex;
    gap: 3px;
    padding: 5px;
    border-radius: 5px;
    border: 1px rgb(131, 150, 236) solid;
    cursor: pointer;
}

#availableVendorStatus {
    margin-top: 12px;
    padding: 5px;
    padding-bottom: 7px;
    font-family: var(--SegoeUIFont);
    border-radius: 5px;
    border: 1px solid #9A5C15;
    background-color: rgba(255, 143, 15, 0.681);
    
}

#availableVendorNoteText {
    display: inline-block;
    font-weight: 600;
}

#availableVendorSeeHerePrompt {
    display: inline-block;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

#availableVendorPopupCanvas {
    position: fixed;
    display: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.5);
    z-index: 99; /* Make sure this is always on top, but below availableVendorPopup */
}

#availableVendorPopup {
    position: absolute;
    display: none;
    width: 500px;
    height: auto;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    left: 0;
    right: 0;
    text-align: center;
    border: 1px solid #9C9C9C;
    border-radius: 5px;
    background-color: #424242;
    color: white;
    font-family: var(--SegoeUIFont);
    z-index: 100; /* Make sure this is always on top */
}

#availableVendorContainer {
    text-align: left;
}

#availableVendorContentTitle {
    margin-bottom: 3px;
    font-size: 19px;
    font-weight: 600;
}

#availableVendorPopupClose {
    margin-bottom: 10px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    bottom: 0;
    background-color: #292929;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#availableVendorPopupClose:hover {
    background-color: #5B5B5B;
    transition: all 0.1s ease-in-out;
}

#settingsBackButtonContainer, #settingsSubMenuBackButtonContainer {
    padding: 5px;
    padding-right: 10px;
    width: fit-content;
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
}

#settingsBackButtonContainer {
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: -5px;
    box-shadow: 2px 2px 12px #1e1e1e;
    cursor: pointer;
}

#settingsSubMenuBackButtonContainer {
    display: none;
    position: sticky;
    top: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    box-shadow: 2px 2px 12px #1e1e1e;
    cursor: pointer;
}

#settingsBackArrowSubtext:hover {
    color: #FFFFFF;
}

#settingsBackButtonContainer:hover > #settingsBackArrow {
    filter: invert(100%);
}

#settingsBackButtonContainer:active > #settingsBackArrow {
    filter: invert(70%);
}

#settingsBackButtonContainer:active > #settingsBackArrowSubtext {
    color: #ACACAC;
}

#settingsBackArrow {
    width: fit-content;
    filter: invert(70%);
    transform: rotate(180deg);
}

#settingsBackArrowSubtext {
    margin-top: 3.5px;
    font-size: var(--fontSizeControl);
    color: #ACACAC;
}

#settingsGrid {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
}

.labelContainer {
    display: flex;
    gap: 5px;
    width: fit-content;
    font-size: var(--fontSizeContent);
}

#defaultViewDropdownContainer {
    margin-top: 15px;
    margin-left: 5px;
}

.labelRangeContainer {
    width: 90%;
    font-size: var(--fontSizeContent);
}

.settingsResetUIButton {
    margin-top: 20px;
    width: fit-content;
    font-size: var(--fontSizeControl);
    color: lightslategrey;
    cursor: pointer;
}

#accessibilityTextDemo {
    font-size: var(--fontSizeContent);
}

#settingsContainerMobile {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 25vw;
    height: 92vh;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    color: white;
}

#settingsSubMenuContainer {
    width: 40vw;
    height: 92vh;
    border-right: 1px solid gray;
    overflow-y: scroll;
    color: white;
}

#accessibilityImageDemo {
    margin-top: 10px;
    width: 55px;
    z-index: 9;
}

#settingsFooter {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #646464;
    font-size: 13px;
    text-align: center;
}

.settingSection {
    display: flex;
    padding-top: -10px;
    padding-bottom: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
}

.contentDisplaySegment {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    height: 90vh;
    width: 50vw;
}

#relationsTableContent {
    position: relative;
    display: flex; /* flex */
    gap: 10px;
    margin-top: 10px;
    max-height: 395px;
}

#tblCon {
    display: block;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

hr.tableRowSeperator {
    margin-bottom: 1px;
    height: 1px;
    border: transparent;
    background-color: #47484B;
}

.tableRow {
    display: flex;
    gap: 10px;
}

.tableHeadingRow > div {
    color: #A6A6A6;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

/* heading rows */
.tableHeadingRow > div:first-child {
    width: 35%;
}

.tableHeadingRow > div:nth-child(2) {
    width: 77px;
}
.tableHeadingRow > div:nth-child(3) {
    width: 20%;
}

.tableHeadingRow > div:nth-child(4) {
    width: 25%;
}

.tableContentRow > div {
    margin-bottom: -10px;
    height: 26px;
}

/* content rows */
.tableContentRow > div:first-child {
    width: 35%;
}

.tableContentRow > div:nth-child(2) {
    width: 77px;
}
.tableContentRow > div:nth-child(3) {
    width: 20%;
}

.tableContentRow > div:nth-child(4) {
    width: 25%;
}

.tableItemNameContainer {
    display: flex;
}

.tableItemIconSquareContainer {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tableItemIconSquareContainerNull {
    background-color: #80808083;
}

.tableItemIconImg {
    width: 18px;
}

.tableItemNameFieldContainer {
    padding-left: 10px;
    padding-top: 3px;
    flex-grow: 1;
    background-color: gray;
}

.tableAffinitiesContainer {
    display: flex;
    gap: 1px;
}

.tableCoverageField {
    padding-top: 3px;
    color: #a6a6a6b2;
}

.tablePointsField {
    padding-top: 3px;
}

#relationsTable {
    /* display: none; */
    width: 100%;
    height: 100%;
}

#noRelationsExistElement {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(50%);
}

#noRelationsExistText {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    justify-content: center;
}

#relationSquares {
    display: flex; /* flex */
    gap: 10px;
    user-select: none;
}

#relationSquares > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: rgb(33, 33, 33);
    border-radius: 5px;
    border: 1px solid rgb(101, 101, 101);
    justify-content: center;
    text-align: center;
    width: 130px;
}

#secondDropdown {
    width: 240px;
}

.affinitiesContainer {
    display: flex;
    margin-top: 17px;
    width: 100%;
    flex-direction: column;
}

.relationSquareTitleContainers {
    display: flex;
    margin: 0 auto;
    gap: 5px;
    justify-content: center;
    text-align: center;
    justify-content: center;
}

.relationSquareGreen .relationSquareOrange .relationSquareNormal {
    font-size: 17px;
    font-weight: 600;
}

.relationSquareGreen {
    color: green;
}
.relationSquareOrange {
    color: orange;
}

.relationSquareEmbed {
    padding: 4px;
    margin-top: 5px;
    background-color: rgb(80, 80, 80);
    border-radius: 4px;
}

.relationSquareIco {
    width: 13px;
}

.greenIco {
    filter: invert(50%) sepia(12%) saturate(2719%) hue-rotate(84deg) brightness(92%) contrast(86%);
}

td, th {
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
}

th {
    height: 20px;
    padding-bottom: 12px;
}

tr {
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.468);
}

tr:first-child {
    position: sticky;
    top: 0;
}

td:last-child {
    background-color: rgb(50, 50, 50);
    text-align: center;
}

th:last-child {
    background-color: rgb(50, 50, 50);
    text-align: center;
} 

th {
    background-color: #3E4148;
}

tr:nth-child(even) {
    background-color: #6060606e;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchSmall {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 13px;
}

.switchSmall input {
    opacity: 0;
    width: 0;
    height: 0;
}

.settingsAccentColorButton {
    height: 20px;
    width: 50px;
    border-radius: 3px;
    border: 1px solid #515151;
    cursor: pointer
}

.settingRange {
    width: 100%;
    flex-grow: 1;
    accent-color: #ff7070;
    cursor: pointer;
}

.settingCheckbox {
    accent-color: #ff7070;
    cursor: pointer;
}

.checkboxLabel {
    margin-top: 2px;
}

.dropdownNumber {
    font-size: 85%;
    color: rgb(190, 255, 255);
}

#xpWithModField {
    font-size: 16px;
}

#SeasonPassLevelsWithModField {
    font-size: 16px;
}

#artifactPowerBonusProgressField:after, #artifactModLevelsProgressField:after {
    content: " /";
}

#bottomMiddleNavBarItems {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    gap: 12.5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #1a191a;
    color: #C1C1C1;
    z-index: 10;
}

.bottomNavBarIconContainer {
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.bottomNavBarIcons {
    width: 32px;
    filter: invert(80%);
    cursor: pointer;
}
.bottomNavBarIcons:hover {
    filter: invert(100%);
}
.bottomNavBarIcons:active {
    filter: invert(80%);
}

.generalButton {
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    font-size: var(--fontSizeContent);
    color: white;
    border: 1px solid rgb(150, 150, 150);
    cursor: pointer;
}

#categorySelectArrow {
    position: absolute;
    margin-top: -4px;
    right: 0;
    filter: invert(100%);
}

.settingCategory {
    position: relative;
    display: flex;
    margin-top: -5px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    font-size: var(--fontSizeContent);
    cursor: pointer;
}

.settingCategory:hover {
    border-radius: 3px;
    background-color: rgba(90, 90, 90, 0.464);
}

.settingCategory:active {
    border-radius: 3px;
    background-color: rgba(90, 90, 90, 0.464);
}

#categorySubtext {
    margin-top: 3px;
    margin-left: 10px;
    font-size: var(--fontSizeTooltipSmall);
    color: #969696;
}

#settingBottomCategories {
    padding: 8px;
    margin-top: 10px;
    background-color: #3A3A3A;
    border: 1px solid #8C8C8C;
    font-size: var(--fontSizeContent);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#settingBottomCategories:hover {
    background-color: #646464;
}

#settingBottomCategories:active {
    background-color: #3A3A3A;
}

#settingsFooterVersionContainer {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 10px;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    font-size: var(--fontSizeContent);
}

hr.contentHeadingSeperator {
    margin-top: 5px;
    height: 2px;
    border: transparent;
    background-color: #47484B;
}

.contentHeadingContainer {
    display: flex;
    font-size: 14px;
    color: rgb(200, 200, 200);
    justify-content: space-between;
}

.subHeadingContainer {
    display: flex;
    margin-top: 5px;
    gap: 5px;
    font-size: 14px;
    color: #6D6D6D;
}

#toggleButtonsContainer {
    display: flex;
    margin-top: -15px;
    margin-left: auto;
    gap: 10px;
    font-size: 16px;
}

#contentDisplay {
    margin: 0 auto;
    padding-left: 15px;
    width: 90vw;
    overflow: hidden;
    color: white;
}

#containerThatHasTheSideSelectionAndContentDisplay {
    display: none;
}

#mobileCharacterSelect {
    display: none;
    margin: 0 auto;
    margin-top: -35px;
    padding-bottom: 60px;
    width: 90vw;
    filter: brightness(80%);
}

#mobileCharacterEmblem {
    width: 100%;
    border-radius: 1px;
}

#mobileCharacterInfoContainer {
    display: absolute;
}

#mobileCharacterSubInfoContainer {
    margin-top: -17%;
    margin-left: 18%;
    font-size: 32vw;
    color: white;
}

#mobileCharacterTypeField {
    font-size: 20%;
}

#mobileCharacterPowerLevelField {
    font-size: 13%;
}

#mobileArrowDown {
    width: 5%;
    float: right;
    margin-top: -8%;
    margin-right: 5%;
    filter: invert(100%);
}

/* ######### */

#defaultCharacterSelect {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 25px;
}

.characterSelect {
    position: relative;
    display: grid;
    padding-left: 10px;
    margin: 1px;
    gap: 1rem;
    grid-template-columns: 36px 1fr 75px;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgb(80, 80, 80, 0.6);
    align-items: center;
    cursor: pointer;
}

.characterSelect > div {
    z-index: 99;
}

.characterSelect:hover {
    border: 1px solid white;
    margin: unset;
}

.characterBg {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,#89323800 50%,rgba(200, 200, 200, 0.5));
    overflow: hidden;
    z-index: -1;
}

.characterClassIco {
    display: block;
    margin-left: auto;
    margin-right: 40px;
    margin-top: -10px;
    width: 40%;
    opacity: 80%;
}

.characterEmblemIco {
    width: 38px;
}

.characterInfo {
    align-items: left;
}

.characterClass {
    font-size: 17px;
}

.characterRace {
    font-size: 13px;
    color: #fff9;
}

.characterPowerCon {
    display: flex;
}

.characterPower {
    font-size: 24px;
    color: #e5d163;
}

.powerIcon {
    margin-top: -5px;
    width: 13px;
    filter: invert(91%) sepia(18%) saturate(1236%) hue-rotate(356deg) brightness(94%) contrast(91%);
}

.characterSelectSlim {
    display: flex;
    margin-top: 15px;
    padding: 0px 0px;
    text-align: center;
    height: 30px;
    width: 100%;
    overflow-x: hidden;
    background-position: center;
    background-size: contain;
    color: white;
    cursor: pointer;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #616161;
}
.slider:before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    background-color: #D9D9D9;
}
input:checked+.slider {
    background-color: var(--accentColor);
}
input:checked+.slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.dropdownArrow {
    width: 12px;
    filter: invert(100%) brightness(50%);
    transform: rotate(90deg);
}

#dropdownContentXpContainer {
    margin-top: 5px;
}

#dropdownContentContainer {
    margin-top: 5px;
}

#dropdownContentContainer > div {
    display: flex;
    gap: 5px;
}

#dropdownsContainer {
    margin-top: -10px;
}

#yieldDropdownContainer {
    padding-left: 10px;
    padding-bottom: 30px;
    height: fit-content;
    clip-path: inset(0px 0px 0px 0px);
    color: gray;
}

#modifiersDropdownContainer {
    padding-left: 10px;
    padding-bottom: 10px;
    height: fit-content;
    clip-path: inset(0px 0px 0px 0px);
    color: gray;
}

.hyperlinkBlue {
    color: rgb(146, 171, 230);
}

.pre {
    max-height: 0px;
}

.pro {
    max-height: 210px;
    transition: max-height 0.20s ease-in-out;
}

.pre2 {
    max-height: 210px;
}

.pro2 {
    max-height: 0px;
    transition: max-height 0.20s ease-in-out;
}

.modifierContainer {
    margin-top: 4px;
}

.modifierValue {
    margin-top: -3px;
    padding: 2px;
    background-color: #232323;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 3px;
}

.modifierCheckmarkIcon {
    margin-top: -5px;
    width: 13px;
    filter: invert(100%) brightness(50%);
}

#seasonPassBonusText, #ghostModsBonusText, #wellRestedBonusText {
    width: 160px;
    text-decoration: line-through;
}

#sharedWisdomBonusText {
    width: 140px;
    text-decoration: line-through;
}

#topCharacterSelectImg {
    display: block;
    margin: 0 auto;
    width: 250px;
    border-radius: 1px;
}

#characterInfoContainer {
    margin-top: -60px;
    margin-left: 30px;
}

#characterSubInfoContainer {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    flex-direction: column;
    color: white;
}

#characterTypeField {
    font-size: 18px;
    font-weight: 600;
}

#characterPowerLevelField {
    margin-left: 2px;
    font-size: 15px;
    color: yellow;
}

#subTitleContainer {
    display: flex;
    margin-left: 10px;
}

#userClan {
    margin-top: 4px;
    color: #e8e6e3;
    font-weight: 600;
    font-size: 20px;
}

#displayName {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 28px;
}

#entryDataOverlay {
    display: none;
    position: absolute;
    width: 50px;
    z-index: 10;
}

#subTitle {
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

#charDisplayTitle {
    margin-top: 13px;
}

#charDisplayTitle_Pre {
    display: inline-block;
    margin-left: 28px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#charDisplayTitle_Character {
    display: none;
    color: white;
    font-style: italic;
    font-weight: 0;
    font-size: 16px;
    letter-spacing: 1px;
}

.seasonalChallengesUIContainer {
    display: flex;
    margin-top: 11px;
    gap: 10px;
}

#seasonalChallengesContainer, #statisticsContainer {
    display: none;
    font-family: var(--UIFont);
}

.subHeadingDotUI {
    margin-top: 3px;
    width: 12px;
    filter: invert(100%) brightness(50%);
}

.seasonalChallengePageButton {
    display: flex;
    align-items: center;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #8C8C8C;
    border-radius: 2px;
    background-color: rgba(60, 60, 60, 0.461);
    cursor: pointer;
}

.seasonalChallengeButtonIcon {
    /* margin-top: 90px; */
    width: 20px; 
    filter: invert(100%);
}

#previousSeasonalChallengeArrow {
    transform: rotate(90deg);
}

#nextSeasonalChallengeArrow {
    transform: rotate(-90deg);
}

#contentDisplayGridLayout {
    display: flex;
    gap: 3px;
}

.chunkPage {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.challengeContainer {
    font-family: var(--SegoeUIFont);
    width: 100%;
}

.challengeContainerNotComplete {
    border: 2px solid #8C8C8C;
    background: linear-gradient(#59595953, #59595953, #59595953, #0d91ab80);
}

.challengeContainerComplete {
    border: 2px solid #3798a9;
    background-color: #1c5863;
}

.challengeContainerCompletedNotClaimed {
    border: 2px solid #a4dbcc;
    background-color: #314b47;
}

.challengeHeadingContainer {
    display: flex;
    gap: 5px;
}

.challengeHeadingAttributeContainer {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.bountyIcon {
    width: 55px;
}

.challengeIcon {
    padding: 8px;
    width: 40px;
}

.challengeName {
    width: 275px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-family: var(--UIFont);
}

hr.dropdownLine {
    display: block;
    height: 2px;
    border: none;
    border-radius: 5px;
    background-color: #64696d;
}

hr.dropdownSubline {
    display: block;
    margin-right: 20px;
    height: 1px;
    width: 65%;
    border: none;
    border-radius: 5px;
    background-color: #64696d;
}

.dropdownContainer {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.sharedWisdomWarningIcon {
    display: none;
    position: absolute;
    padding: 7px;
    margin-left: 80px;
    margin-top: -50px;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 3px;
    width: fit-content;
    color: white;
    background-color: rgb(50, 50, 50);
    font-size: 13px;
    z-index: 99;
}

.userHelpHoverIcon {
    margin-top: 3px;
    width: 14px;
    height: 14px;
    filter: invert(78%) sepia(95%) saturate(2%) hue-rotate(312deg) brightness(113%) contrast(103%);
}

.tooltipContainer {
    position: absolute;
    display: none;
    padding: 8px;
    margin-top: 10px;
    margin-left: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(50,50,50);
    font-size: 13px;
    z-index: 99;
}

.userToggleContainer {
    display: none; /* flex */
    margin-top: 8px;
    gap: 5px;
    align-items: center;
    color: white;
}

#recommendationTooltip {
    display: none;
    margin-top: 5px;
    font-style: italic;
    color: #4d4d4d;
}

.statsColumnContainer {
    display: flex;
    max-height: 100%;
    overflow-y: scroll;
    gap: 11px;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.statContainer {
    padding-left: 14px;
    padding-top: 7px;
    height: 200px;
    border: 1px solid #1E1E1E;
    background-color: #323134;
    background-image: url("../static/images/UI/statistic_container_bg.svg");
    background-size: 60%;
    background-repeat: repeat;
    background-position-y: -2px;
}

.statHeadingContainer {
    display: flex;
    flex-direction: column;
    gap: -5px;
}

.statContainerSubheading {
    font-size: 12px;
    color: #A5A5A5;
}

.statContainerMainHeading {
    margin-top: -3px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.3px;
}

.statMetricsContainer {
    display: flex;
    margin-top: 5px;
    padding: 8px;
    padding-left: 9px;
    padding-right: 9px;
    width: fit-content;
    height: 135px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.statMetricsContainer > div {
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    width: 100px;
    border: solid 1px #555555;
}

.metricSubheading {
    font-size: 10px;
    line-height: 1.4;
    color: #fff9;
}

.metricHeading {
    margin-top: -3px;
    font-size: 14px;
    color: white;
}

.backplate {
    margin-top: 15px !important;
}

.backplateContainer-Single {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -50px;
}

.backplateContainer-Duo {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: -55px;
    margin-left: 10px;
}

.backplateContainer-Quad {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -80px;
    padding-top: 5px;
}

.metricXLarge {
    font-size: 25px;
}

.metricLarge {
    font-size: 20px;
}

.metricMedium {
    font-size: 14px;
}

.metricSub {
    font-size: 16px;
    color: #b9b9b9;
}

.metricSubSmall {
    font-size: 12px;
    color: #d3d3d3;
}

.metricContainer {
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

#seasonRankMetric {
    margin-top: -66px;
    font-size: 24px;
    font-weight: bold;
}

#toggleMetricHintsButton {
    display: none; /* flex */
    margin-top: 6px;
    margin-left: 1px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 7px;
    width: fit-content;
    height: 16px;
    gap: 5px;
    background-color: black;
    opacity: 60%;
    border-radius: 3px;
    border: solid 1px transparent;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

#toggleMetricHintsButton:hover {
    border: solid 1px white;
}

.toggleMetricHintIcon {
    margin-top: -3px;
    width: 11px;
}

.challengeDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.challengeRewardsContainer {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    gap: -20px;
    flex-direction: column;
}

.challengeRewardName {
    font-size: 12px;
}

.singleChallengeRewardContainer {
    display: flex;
    margin-left: 9px;
}

.challengeRewardIcon {
    margin-right: 3px;
    width: 18px;
    height: 18px;
}

.challengeProgressContainer {
    width: 100%;
    height: 8px;
}

.challengeProgressTrack {
    margin-bottom: -8px;
    width: 100%;
    height: 100%;
    background-color: #aaaaaa75;
    z-index: 1;
}

.challengeProgressPercentBar {
    width: 0%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

.challengeProgressAttributesContainer {
    display: flex;
    margin-left: 11px;
    margin-right: 10px;
    flex-direction: column;
    gap: 3px;
}

.objectiveAttributes {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 14px;
    background-color: rgba(38, 38, 38, 0.322);
    color: white;
    font-size: 12px;
}

.objectiveName {
    margin-top: -2px;
    width: 100%;
}

.objectiveProgress {
    margin-top: -2px;
}

.objectiveContainer {
    display: flex;
    gap: 5px;
}

#noBountiesTooltip {
    display: none;
    padding-top: 25px;
    color: #767676;
    font-size: 15px;
    font-style: italic;
}

#questDisplayContainer {
    margin-top: 15px;
}

#one {
    display: flex;
}

#two {
    display: none;
} 

#skeletonLoadContainer {
    display: none; /* flex */
    margin-bottom: -50px;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#skeletonSubContainer > div {
    margin-top: 10px;
    margin-left: 10px;
    width: 80vw;
    height: 20vh;
    border-radius: 5px;
    animation: skeletonLoadAnimation 2s ease-in infinite;
}

#skeletonCellLeft {
    margin-top: 10px;
    width: 15vw;
    height: 65vh;
    border-radius: 5px;
    animation: skeletonLoadAnimation 2s ease-in infinite;
}

.classLight {
    position: absolute;
    margin-left: 54px;
    margin-top: 25px;
    color: #ffea00;
    opacity: 0.7;
    font-size: 15px;
}

#seasonalStatsContainer {
    display: none;
    margin-top: 50px;
    width: 75%;
}

#loadingContentContainer {
    display: none !important;
    text-align: center;
}

.weaponTypeContainer {
    display: inline-block;
    margin: auto;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
}

#levellingContentDisplay > div {
    padding-top: 7px;
    padding-bottom: 3px;
    color: hsl(0, 2%, 80%);
}

#levellingStatsDisplay > div {
    padding-top: 7px;
    padding-bottom: 3px;
    color: #CDCBCB;
}

#burgerStackIcon {
    display: none;
    margin-top: 3px;
    margin-right: 3px;
    padding: 5px;
    width: 30px;
    float: right;
    cursor: pointer;
}

#burgerStackIcon:hover {
    background-color: rgba(123, 123, 123, 0.42);
}

#burgerMenuDropdown {
    position: absolute;
    margin-top: 45px;
    right: 0;
    width: 100px;
    height: 150px;
    background-color: #575757;
}

#loadpopupBackplate {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0000007f
}

#loadpopupContainer {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 700px;
    height: fit-content;
    max-height: 900px;
    z-index: 9999; /* top */
    background-color: #1D1D1D;
    color: #FFFFFF;
    box-shadow: 0px 0px 100px 0px #000000;
}

#colorBar {
    height: 2px;
    width: 100%;
    background-color: #ed4d4dcc;
}

#firstTimeLoadPopupContent {
    display: none;
}

.loadpopupContent {
    padding: 29px;
    padding-top: 26px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Inter";
}

.popupUnderline {
    margin-top: 10px;
    width: 100px;
    height: 2px;
    background-color: #cfcfcf;
}

.whatsNewPopupContent {
    margin-top: 20px;
    margin-bottom: 50px;
}

#popupVersion {
    margin-top: 13px;
    font-size: 16px;
    color: #C0C0C0;
}

.uiButton {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    height: 38px;
    line-height: 38px;
    background-color: #333333;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    animation: outlineFadeOut 0.1s;
    outline-offset: 2px;
}

.uiButton:hover {
    animation: outlineFadeIn 0.1s;
    outline: 1px solid white;
    outline-offset: 2px;
}

.bottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes outlineFadeIn {
    0% { outline: 1px solid #ffffff00; }
    100% { outline: 1px solid white; }
}

@keyframes outlineFadeOut {
    0% { outline: 1px solid white; }
    100% { outline: 1px solid #ffffff00; }
}

/* Animations */
@keyframes skeletonLoadAnimation {
    0% {background-color: rgba(147, 147, 147, 0.3);}
    10% {background-color: rgba(190, 190, 190, 0.3);}
    15% {background-color: rgba(190, 190, 190, 0.3);}
    30% {background-color: rgba(147, 147, 147, 0.3);}
    100% {background-color: rgba(147, 147, 147, 0.3);}
}