/**
 * #.# Viewports style
 *
 * Style for various viewports
 */
@media screen and (max-width: 1759px) {
    #brightEngram {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1729px) {
    #brightEngram {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1320px) {
    #skeletonCellLeft {
        width: 15vw;
    }
}

@media screen and (max-width: 1175px) {
    #seasonPass {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1144px) {
    #seasonPass {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1100px) {
    #skeletonCellLeft {
        display: none;
    }

    #skeletonSubContainer {
        margin-left: -10px;
    }
}


@media screen and (max-width: 1090px) {
    #characterDisplay {
        width: 55%;
    }
}

@media screen and (max-width: 1050px) {
    #settingsContainerMobile {
        position: unset;
        padding-left: 15px;
        padding-right: 15px;
        margin: unset;
        width: 60vw;
        border-left: 1px gray solid;
        border-right: 1px gray solid;
    }

    #settingsSubMenuContainer {
        display: none;
        width: 63vw;
        border-left: 1px gray solid;
        border-right: 1px gray solid;
    }

    #settingsSubMenuBackButtonContainer {
        display: flex;
    }
}


@media screen and (max-width: 950px) {
    #navBarTitleContainer {
        margin-left: -19px;
        width: 200px;
    }

    #navBarTitle {
        margin-top: 2px;
        font-size: 26px;
    }

    #navBarVersion {
        display: none;
    }

    #middleNavBarItems {
        margin-right: unset;
        margin-right: 50px;
    }

    #rightNavBarItems {
        margin-top: 3px;
        margin-right: 12px;
    }
}


@media screen and (max-width: 815px) {
    #indexMainContainer {
        width: 745px;
    }

    .indexNotice {
        width: 730px !important;
    }
}


@media screen and (max-width: 757px) {
    .classBg {
        width: 75%;
    }

    .classType {
        margin-left: 65px;
        font-size: 25px;
    }

    .classLight {
        margin-top: 29px;
        margin-left: 80px;
        font-size: 20px;
    }

    .lightIcon {
        margin-top: 33px;
        margin-left: 67px;
        width: 13px;
    }

    #categories > div {
        margin-top: 5px;
        font-size: 18px;
    }

    #satisticsLayoutContainer {
        text-align: center;
    }

    #statsTableLayoutContainer {
        text-align: center;
    }

    #brightEngram {
        margin-bottom: 50px;
    }

    #loadingIcon {
        display: none;
    }

    #loadingText {
        margin-top: -65px;
    }

    #indexMainContainer {
        width: 90%;
    }

    .indexNotice {
        width: 87% !important;
    }
}


@media screen and (max-width: 645px) {
    hr {
        margin-left: -10px;
        left: 0;
        width: 100vw;
        overflow: hidden;
    }

    #settingsSubMenuContainer {
        overflow: unset;
    }

    #contentDisplay {
        margin-top: -30px;
    }

    #bottomDivider {
        display: none;
    }

    #userMainContainer {
        padding-bottom: 400px;
    }

    #navBarContainer {
        display: none;
    }

    #bottomMiddleNavBarItems {
        display: flex;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    #settingsGrid {
        justify-content: unset;
    }

    #settingsContainerMobile {
        position: unset;
        padding-left: 15px;
        padding-right: 25px;
        margin: unset;
        width: 90vw;
        border-left: unset;
        border-right: unset;
    }

    #settingsSubMenuContainer {
        display: none;
        position: unset;
        padding: unset;
        margin: unset;
        margin-top: -20px;
        width: 90vw;
        border-left: unset;
        border-right: unset;
    }

    #settingsBackButtonContainer {
        margin-top: -10px;
    }

    #skeletonContainer {
        margin-top: -30px;
        margin-left: 0px;
    }

    #skeletonSubContainer > div {
        width: 90vw;
    }

    #settingsFooterVersionContainer {
        margin: auto;
        bottom: 70px;
        left: 0;
        right: 0;
    }

    #mobileCharacterSelect {
        display: block;
    }

    #defaultCharacterSelect {
        display: none;
    }
}


@media screen and (max-width: 480px) {
    .indexNotice {
        width: 85% !important;
    }

    #btnAuthorize {
        margin-top: 10px;
        padding: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    #heading {
        margin-bottom: 20px;
    }

    #bottomMiddleNavBarItems {
        gap: 12%;
    }
    
    .bottomNavBarIcons {
        width: 30px;
    }

    #contextMenuSettingsMobile {
        width: 25px;
    }
}


@media screen and (max-width: 400px) {
    #bottomMiddleNavBarItems {
        gap: 10%;
    }
}


@media screen and (max-width: 350px) {
    #bottomMiddleNavBarItems {
        gap: 8%;
    }
}
