<!DOCTYPE html>

<head>
    <!-- <link rel="stylesheet" href="styles/user.css"> -->
    <link rel="stylesheet" href="styles/src2.css">
    <!-- <link rel="stylesheet" href="styles/item.css"> -->

    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/dexie/dist/dexie.js"></script> -->
    <!-- <script src="scripts/user.js"></script> -->

    <link rel="shortcut icon" href="#">

    <title>D2 Synergy</title>
</head>

<body>
    <div id="navBarContainer">
        <img id="navBarIcon" src="../icons/KEKW.png">
        <img id="navBarLogout" src="../icons/logout.PNG">
    </div>
</body>