<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../styles/user.css">
    <link rel="stylesheet" href="../styles/src.css">
    <link rel="stylesheet" href="../styles/item.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/dexie/dist/dexie.js"></script>
    <script src="../scripts/user.js"></script>

    <link rel="shortcut icon" href="#">

    <title>D2 Synergy</title>
</head>

<body>
    <div id="loadBarContainer">
        <div id="slider">
            <div class="line"></div>
            <div class="subline inc"></div>
            <div class="subline dec"></div>
        </div>
    </div>

    <div class="mainContainer">
        <div id="charSelect">
            <div class="charContainer" id="charContainer0" onclick="LoadCharacter(0)">
                <img class="charBg" id="charBg0"></img>
                <img class="charImg" id="charImg0" src=""><span class="classType" id="classType0"></span>
            </div>
            <div class="charContainer" id="charContainer1" onclick="LoadCharacter(1)">
                <img class="charBg" id="charBg1"></img>
                <img class="charImg" id="charImg1" src=""><span class="classType" id="classType1"></span>
            </div>
            <div class="charContainer" id="charContainer2" onclick="LoadCharacter(2)">
                <img class="charBg" id="charBg2"></img>
                <div class="charContent">
                    <img class="charImg" id="charImg2" src=""><span class="classType" id="classType2"></span>
                </div>
            </div>
        </div>
        <div id="charDisplay">
            <div id="subTitle"></div>
            <div id="items"></div>
        </div>
    </div>
    <div id="overlays"></div>
    <button onclick="Logout()">Logout</button>
</body>