<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../styles/user.css">
    <link rel="stylesheet" href="../styles/src.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/user.js"></script>
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div id="slider">
        <div class="line"></div>
        <div class="subline inc"></div>
        <div class="subline dec"></div>
    </div>

    <div id="mainContainer">
        brendan

        <!-- <div id="displayName"></div>
        <div id="userEmblemsContainer">
        
            <div id="userEmblem1">
                <img id="emblemPath1">
            </div>
    
            <div id="userEmblem2">
                <img id="emblemPath2">
            </div>
    
            <div id="userEmblem3">
                <img id="emblemPath3">
            </div>
        </div> -->
    </div>
</body>