body {
    background-color: #22272e;
}


/* Navbar */
#navBarContainer {
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    background-color: #131415;
}
#navBarTitle {
    color: white;
}




/* Loadbar */
#loadBarContainer {
    position: fixed;
}

#slider{
    position: absolute;
    margin-top: -21px;
    margin-left: -10px;
    width: 103vw;
    height: 3px;
    overflow-x: hidden;
}

.line{
    position: absolute;
    opacity: 0.4;
    background: #4a8df8;
    width: 103vw;
    height: 5px;
    overflow-x: hidden;
}

.subline{
    position: absolute;
    background: #4a8df8;
    height: 5px; 
    overflow-x: hidden;
}
.inc{
    animation: increase 2s infinite;
}
.dec{
    animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
    from { left: -5%; width: 5%; }
    to { left: 130%; width: 100%; }
}
@keyframes decrease {
    from { left: -80%; width: 80%; }
    to { left: 110%; width: 10%; }
}



/* Scrollbar */
::-webkit-scrollbar { /* Width */
    width: 7px;
}

::-webkit-scrollbar-track { /* Track */
    background: none;
}

::-webkit-scrollbar-thumb { /* Handle */
    background: rgb(116, 116, 116); 
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: #555;
}