#mainContainer {
    /* position: absolute; */
    /* position: relative; */
    /* margin-top: 70px; 50px base as required */
    background-color: #3e454e;
    border-radius: 4px;
    border: 1px #56606d solid;
    width: 70vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    /* background-color: #3e454e;
    border-radius: 5px;
    border: 1px #56606d solid;
    width: 50vw;
    margin: auto;
    margin-top: 20px; */
}

#subTitleContainer {
    display: flex;
    margin-left: 10px;
}

#userClan {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 20px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    margin-top: 4px;
}

#displayName {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 28px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#charDisplay {
    display: none;
    text-align: left;

    background-color: #3e454e;
    border-radius: 5px;
    border: 1px #56606d solid;
    width: 50vw;
    position: absolute;
    display: none;
    text-align: left;
}

#entryDataOverlay {
    position: absolute;
    display: none;
    width: 50px;
    z-index: 10;
}

#subTitle {
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
}


/* user select */

#charDisplayTitle {
    margin-top: 20px;
}

#charDisplayTitle_Character {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    margin-left: 26px;
    font-size: 20px;
}

#charDisplayTitle_Category {
    display: inline-block;
    color: white;
    font-style: italic;
    font-weight: 0;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
}

#totalBounties {
    margin-left: 26px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#totalXP {
    margin-left: 26px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#charSelect {
    margin: 0 auto;
    width: 50%;
}

.charContainer {
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    width: 30%;
}

.bgContent {
    position: absolute;
}

.charBg {
    position: relative;
    height: 45px;
    opacity: 0.6;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.charContent {
    position: relative;
}

.charImg {
    height: 43px;
}

.classType {
    margin-left: 55px;
    margin-top: -40px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    letter-spacing: 1px;
}

.charLight {
    margin-left: 55px;
    font-size: 13px;
    color: rgb(255, 255, 0);
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}