/**
 * #.# user.html Style
 *
 * Style for user.html, does not contain media queries
 */

#mainContainer {
    position: absolute;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 90vw;
    border: 1px #56606d solid;
    background-color: #3e454e;
    border-radius: 3px;
}

#characterDisplay {
    float: left;
    width: 65%;
    margin-left: 30px;
}

#subTitleContainer {
    display: flex;
    margin-left: 10px;
}

#userClan {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 20px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    margin-top: 4px;
}

#displayName {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 28px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#entryDataOverlay {
    position: absolute;
    display: none;
    width: 50px;
    z-index: 10;
}

#subTitle {
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
}


/* user select */

#charDisplayTitle {
    margin-top: 13px;
}

#charDisplayTitle_Character {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    margin-left: 26px;
    font-size: 20px;
}

#charDisplayTitle_Category {
    display: none;
    color: white;
    font-style: italic;
    font-weight: 0;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
}

#totalBounties {
    margin-left: 26px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#totalXP {
    margin-left: 26px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#categories {
    margin-top: 3px;
}

#categories > div {
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgb(205, 203, 203);
    letter-spacing: 1px;
    cursor: pointer;
    user-select: none;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

/* char selects */

#sideSelectionBar {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    width: auto;
}

#charContainer {
    cursor: pointer;
}

.classBg {
    width: 220px;
}

.classType {
    position: absolute;
    margin-left: 43px;
    margin-top: 5px;
    color: white;
    font-weight: 0;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    letter-spacing: 1.3px;
}