/**
 * #.# Seperate item style
 *
 * Every reference of an item in the DOM, will use this style script to apply style
 */

.itemContainer {
    position: relative;
    display: none;
    width: 210px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.639);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(87, 87, 87, 0.66);
    z-index: 10;
}

#items > div {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#bountyItems {
    margin-top: 20px;
}

.bounty {
    margin-left: 2px;
    margin-right: 2px;
    width: 55px;
    border: 1px solid rgba(200, 200, 200, 0.749);
    z-index: 1;
}

#itemTitle {
    padding-top: 13px;
    padding-left: 10px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-weight: bold;
}

#itemType {
    padding-left: 12px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-style: italic;
    font-size: 11px;
}

#itemDesc {
    padding-left: 10px;
    padding-right: 1em;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 13px;
}

#itemPrg {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    width: 90%;
}

.itemPrgCounter {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    text-align: right;
    color: rgba(200, 200, 200, 0.749);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 11px;
}

.itemPrgDesc {
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-left: 10px;
    width: 80%;
    text-align: left;
    color: rgba(200, 200, 200, 0.749);
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
    font-size: 11px;
}

.greyOut {
    opacity: 50%;
}

.filter {
    display: inline-block;
    width: fit-content;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.639);
    border: 1px solid rgb(41, 41, 41);
    border-radius: 15px;
}

#btnHideFilters {
    margin-top: 10px;
    margin-left: 2px;
    padding: 3px;
    width: fit-content;
    color: rgb(205, 203, 203);
    border: 1px rgb(205, 203, 203) solid;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 10px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: 0.25s;
}
#btnHideFilters:hover {
    color: white;
    border-color: white;
    transition: 0.25s;
}

.propName {
    padding: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(138, 138, 138);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 12px;
}