/**
 * #.# Table Style
 *
 * Style for the table on the user.html page
 */
.limiter {
    width: 100%;
    margin-left: -3px;
}

.container-table100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 28px;
}

table {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 10px;
}

table thead tr {
    height: 60px;
    background: #282d35;
}

table tbody tr {
    height: 50px;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    color: #fff;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #282d35;
}

tbody tr {
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

.column1 {
    width: 160px;
    /* padding-left: -30px; */
}

.column2 {
    width: 160px;
}

.column3 {
    width: 160px;
}

.column4 {
    width: 160px;
}

.column5 {
    width: 160px;
}

.column6 {
    width: 160px;
}