/**
 * #.# user.html Style
 *
 * Style for user.html, does not contain media queries
 */

#mainContainer {
    position: absolute;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

h2 {
    padding-bottom: 0px;
    text-transform: uppercase;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#contentDisplay {
    display: none;
    margin-left: 30px;
    float: left;
    width: 65%;
}

#subTitleContainer {
    display: flex;
    margin-left: 10px;
}

#userClan {
    margin-top: 4px;
    color: #e8e6e3;
    font-weight: 600;
    font-size: 20px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#displayName {
    color: #e8e6e3;
    font-weight: 600;
    font-size: 28px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#entryDataOverlay {
    display: none;
    position: absolute;
    width: 50px;
    z-index: 10;
}

#subTitle {
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 20px;
    text-transform: uppercase;
}


/* user select */

#charDisplayTitle {
    margin-top: 13px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#charDisplayTitle_Pre {
    display: inline-block;
    margin-left: 28px;
    color: white;
    font-weight: bold;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    user-select: none;
}

#charDisplayTitle_Character {
    display: none;
    color: white;
    font-style: italic;
    font-weight: 0;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 16px;
    letter-spacing: 1px;
}

#loadoutsContainer {
    display: none;
    margin-top: 13px;
    margin-left: 28px;
}

#pursuitsContainer {
    display: none;
    margin-top: 13px;
    margin-left: 28px;
}

#progressionContainer {
    display: none;
    margin-top: 13px;
    margin-left: 28px;
}

#displayTitle_Loadouts {
    padding-bottom: 0px;
    text-transform: uppercase;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#displayTitle_Bounties {
    display: none;
    padding-bottom: 0px;
    text-transform: uppercase;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#displayTitle_Levelling {
    padding-bottom: 0px;
    text-transform: uppercase;
    color: white;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

#noItemsTooltip {
    display: none;
    padding-top: 25px;
    color: rgb(118, 118, 118);
    font-size: 15px;
    font-style: italic;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#categories {
    display: none;
    margin-top: 3px;
}

#categories > div {
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgb(205, 203, 203);
    letter-spacing: 1px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    cursor: pointer;
    user-select: none;
    transition: 0.25s;
}

#cgDefaultLoadouts:hover {
    color: white;
    transition: 0.25s;
}
#cgPursuits:hover {
    color: white;
    transition: 0.25s;
}
#cgLevelsProgression:hover {
    color: white;
    transition: 0.25s;
}

#questDisplayContainer {
    margin-top: 15px;
}

/* char selects */

#sideSelectionBar {
    margin-top: 15px;
    margin-left: 15px;
    width: auto;
    float: left;
}

#charactersContainer {
    display: none;
}

#charactersContainer > div {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.classBg {
    width: 220px;
}

.classType {
    position: absolute;
    margin-left: 43px;
    margin-top: 5px;
    color: white;
    font-weight: 0;
    letter-spacing: 1.3px;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 18px;
}

.classLight {
    position: absolute;
    margin-left: 54px;
    margin-top: 25px;
    color: rgba(255, 234, 0, 0.755);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 15px;
}

.lightIcon {
    position: absolute;
    margin-left: 45px;
    margin-top: 28px;
    width: 8px;
}

#statsContainer {
    display: none;
    margin-top: 50px;
}

#statsTitle {
    padding-bottom: 7px;
    float: left;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-weight: bold;
    letter-spacing: 1px;
}

#statsTitleQuery {
    display: inline;
    margin-left: 8px;
    width: 14px;
    filter: invert(48%) sepia(13%) saturate(3207%);
    cursor: pointer;
}

#queryDiv {
    position: absolute;
    display: none;
    padding: 3px;
    bottom: 125px;
    left: 95px;
    width: 90px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    font-size: 11px;
    background-color: rgb(49, 49, 49);
    border: 1px solid rgb(88, 88, 88);
    border-radius: 3px;
}

#loadingContentContainer {
    display: none;
    margin-top: 60px;
    text-align: center;
}

#filterContentContainer {
    display: none;
}

#statsListContainer {
    margin-top: 5px;
}

#statsListContainer > div {
    padding-top: 7px;
    padding-bottom: 3px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#btnSynergyView {
    margin-top: 10px;
    padding: 4px;
    width: fit-content;
    color: rgb(205, 203, 203);
    border: 1px rgb(205, 203, 203) solid;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: 0.25s;
}

#btnSynergyView:hover {
    color: white;
    border-color: white;
    transition: all 0.25s;
}

#levellingContentDisplay > div {
    padding-top: 7px;
    padding-bottom: 3px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}

#levellingStatsDisplay > div {
    padding-top: 7px;
    padding-bottom: 3px;
    color: rgb(205, 203, 203);
    font-family: "Neue Haas Grotesk Display", "Destiny Symbols", Segoe-MDL, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
}